<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>W E B T E K</title>
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/altstyles.css" rel="stylesheet" type="text/css">
    <!--     <link href='css/agency.css' rel='stylesheet'> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
       <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> </button> <a class="navbar-brand page-scroll" href="#page-top">Webtek</a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a href="index.html" class="page-scroll">Home</a> </li>
                    <li> <a href="glossary.html" class="page-scroll">Glossary</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header id="headerfinals">
     <div class="container">
            <div class="intro-text">
                <h1 id='header-font3'>Finals</h1>
                <h2 id='header-font4'>Discussions and activies in Finals</h2>
                <br> <a href=".separator" class="page-scroll btn btn-xl">Start!</a> </div>
        </div>
    </header>
    <div class="separator">
    &nbsp
    </div>
    <!-- internet Section -->
     <section id="#">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Server Side Web Scripting Language</h1>
                </div>
                <div>
                   <p>&emsp;&emsp;&emsp;&emsp;Server-side scripts are technique used by back-end web developers for web development which uses scripts on the web server side and make responses to client’s side depending on the request to the web server on the website. These scripts can be written in different server-side programming languages, such as PHP, Python, C#, C++, Java and Erlang.  These languages are used for the communication of the server, client and database. 
                     Server-side scripting is used in many ways such as: for customizing interface for the client; hide source codes; Facilitates the transferring of data into the browser; controls on what to share on applications. </p>
                     <p> Examples of Server Side Scripting </p>
                     <ul> 
                        <li> JAVA </li>
                        <li> PHP </li>
                        <li> Node.js </li>
                        <li> ASP.NET </li>
                    </ul>

             
                    <h4>Java Programming Language Platforms</h4>
                    <ul>
                    <li>Java Platform, Standard Edition (Java SE)</li>
                    <li>Java Platform, Micro Edition (Java ME)</li>
                    <li>Java Platform, Enterprise Edition (Java EE)</li>
                    </ul>

                    <h4> Web server/ Application Server</h4>

                   <p> Java Web Application
                    In Netbeans in creating a web services you can either </p>
                    <ul>
                        <li> Apache Tomcat </li>
                        <li> Glassfish Server </li>
                    </ul>

                    <h4> JAVA Servlet </h4>

                    
                    <p>What is Java Servlet?</p>
                    <p>It is used for building Web-based application which provides a component-based and platform-based method without the performance limitations of CGI programs. It has access to all Java API including the JDBC API to access enterprise database.
                        It acts as a middle layer between a request coming from a Web browser or other HTTP client and databases or even an application on the HTTP server.
                    </p>
                    
                    <h4>SERVLET ARCHITECTURE</h4>
                    <p><img src='img/servelet.jpg'></p>
                  
                    
                    
                    <h4>SERVLET CONTAINER</h4>
                        
                    
                    <p>It provides the runtime environment for JavaEE application. It is used for dynamically generate web pages in server side. It part of the server side that interacts with the servlet for handling the dynamic web pages form the client.</p>
                    <img src='img/servlet.jpg'>
                    
                    <h5>REQUEST DISPATCH</h5>
                    
                    <p> It is used for dispatching request to another resource in HTML, servlet or JSP. 
                    It provides two methods:</p>
                    <ul> 
                        <li>   public void forward(ServletRequest request,ServletResponse response)throws ServletException,java.io.IOException:Forwards a request from a servlet to another resource (servlet, JSP file, or HTML file) on the server.</li>
                    </ul>
                    <img src='img/forward.jpg'>

                    <ul>
                        <li>  public void include(ServletRequest request,ServletResponse response)throws ServletException,java.io.IOException:Includes the content of a resource (servlet, JSP page, or HTML file) in the response. </li>
                    </ul>
                    <img src='img/include.jpg'>

                    
                    <h4>JSP</h4>
                    <p>It is used for creating web application just like Servlet. It consists of HTML tags and JSP tags. </p>
                   
                        <h5>DIRECTIVES</h5>
                        <ul>
                            <li>It is used to tell the web container how to translate a JSP page into the corresponding servlet.</li>
                            <li> Syntax: <%@ directive attribute="value" %>   </li>
                        <ul>
                        <p> Types of Directives </p>
                        <ul>
                            <li> page directive  provides instruction to the container that pertains to the current JSP page </li>
                            <li>   include directive tells the container to merge the content of the other external files with the current JSP during the translation phase. </li>
                            <li> taglib directive declares that your JSP page uses a set of custom tags and identifies location of the library </li>
                        </ul>


                        <h5> STANDARD ACTIONS</h5>
                        <ul>
                        <li>jsp:include</li>
                        Includes a file at the time the page is requested.
                        <li>jsp:useBean</li>
                        Finds or instantiates a JavaBean.   
                        <li>jsp:setProperty</li>
                        Sets the property of a JavaBean.    
                        <li>jsp:getProperty</li>
                        Inserts the property of a JavaBean into the output. 
                        <li>jsp:forward</li>
                        Forwards the requester to a new page.   
                        <li>jsp:plugin</li>
                        Generates browser-specific code that makes an OBJECT or EMBED tag for the Java plugin.
                        <li>jsp:element</li>
                        Defines XML elements dynamically.   
                        <li>jsp:attribute</li>
                        Defines dynamically-defined XML element's attribute.    
                        <li>jsp:body</li>
                        Defines dynamically-defined XML element's body. 
                        <li>jsp:text</li>
                        Used to write template text in JSP pages and documents  
                        </ul>
                       
                        
                        <h4>EL EXPRESSIONS</h4>
                            <ul>
                                <li>It helps to easily access application data which stored in JavaBeans components and allows to create expression both arithmetic and logical.</li>
                                <li>&lt:jsp:setProperty name = "box" property = "perimeter" value = "100"/&gt</li>
                            </ul>

                        <h4> JSP SCRIPLETS </h4>
                        <ul>
                            <li> It can contain java language statement, variable or method declarations or expression that are valid in the page scripting language. </li>
                            <li>&lt:<% code fragment %>&gt</li>
                        </ul>
                        <h4> SCRIPLET SCRIPLET </h4>
                        <h4> SCRIPLET DECLARATION </h4>
                        <p>declares one or more variable or methods that can be used in Java code in the JSP FILE.</p>
                        <ul> 
                            <li><%! int i = 0; %> </li>
                            <li><%! int a, b, c; %> </li>
                            <li><%! Circle a = new Circle(2.0); %></li>
                        </ul>

                        <h4> SCRIPLLET EXPRESSION </h4>
                        <ul> 
                            <li> contains scripting language expression that is evaluated, converted to a string and inserted where the expression appears in the JSP file. </li>
                            <li> <%= expression %> </li>
                        </ul>

                        <h4> JSP COMMENTS </h4>
                        <ul>
                            <li> marks text or statement that the JSP container should ignore. </li>
                            <li> <%-- This is JSP comment --%> </li>
                        </ul>
                        <h4> SESSION HANDLING </h4>
                        <p> HTTP is a stateless protocol, it means every time a client retrieves a web page, it opens separate connection to the web server and the server doesn’t keep any record of the client’s request.</p>

                        <h3> MAINTAING SESSION BETWEEN WEB CLIENT AND SERVER </h3>
                        <p> COOKIES </p>
                        <ul>
                            <li> Session cookies - temporary cookie and deleted as soon as the client closes the browser </li>
                            <li> Persistent cookies - remains on the hard drive and it’s only deleted when it’s deleted or it expired </li>
                        </ul>
                        <h4> HIDDEN FIELD </h4>
                        <p> Similar to other input fields but these fields are not displayed on the page and  its value is sent as other input fields.  </p>

                        <h4> URL REWRITING </h4>
                        <p>It is an approach in which a session identifier gets appended with each request URL that helps the server identify the user session.</p>

                        <h4>SESSION OBJECT </h4>
                        <p> It is a representation of the user’s session. It is available in all request and attributes stored in HTTP session in will be available in any servlet or in a JSP.</p>

                        <h3> Java Servlet - JSP </h3>
                        <p> “Java Server Page,” developed by Sun Microsystems in 1999. It is a technology that controls the content or interface of Web pages through the use of the Java Servlet. JSP are pretty similar to ASP and PHP, but it does use of the Java programming language. To deploy and run  the server, they use a servlet container such as Apache Tomcat, Glassfish or Jelly. JSP is useful in developing and maintaining dynamic Web pages, and accessing database on the Web server. </p>
                        <pre> @WebServelet container
                        @WebServlet(name = “Hello Servlet”, urlPatterns = (“/HelloServlet”)

                            getInputStream() – Servlet Input Stream
                            getOutputStream() - Servlet Output Stream

                        @Override
                            protected void doPost(HttpServletRequest request, HttpServletResponse response)
                                    throws ServletException, IOException { }

                        Portimage = request.getPart(“image”) – get the name </pre>

                        <h4> Request Dispatching </h4>
                        <ul> 
                            <li> God Class </li>
                            <li> Long Method  </li>
                            <li> Divide & Conquer </li>
                        </ul>
                        <pre> set/ get Atribute

                        request.setAttribute(“productlist”, productList);
                        request.setAttribute(“productlist”);
                        </pre>

                        <h4> Session Handling </h4>
                        <ul> 
                            <li>  “Stateless Http” </li>
                            <li>  extending Features : Cookies </li>
                            <li> State of correlated transaction </li>
                        </ul>
                        <h4> Extended Features </h4>
                        <h5> Cookies </h5>
                        <ul> 
                            <li> small textual information, generated from the web application </li>
                            <li> stored by the client in the browser (Cookie Jar) </li>
                            <li> identifier </li>
                        </ul>
                        <h5>  set.cookie.ck1 </h5>
                        <ul> 
                            <li> - non-persistent cookies </li>
                            <li> can set the time </li>
                            <li> can set by HTTPS </li>
                        </ul>

                        <h3> SECURITY VULNERABILITIES </h3>
                        <h4> Top Ten Security Vulnerability in the Web </h4>
                        <ul style='list-style-type: none;'>
                            <li> 1. Injection </li>
                            <li> 2.  Broken Authentication and Session Management</li>
                            <li> 3.  Cross-Site Scripting (XSS)</li>
                            <li> 4.  Broken Access Control </li>
                            <li> 5.  Security Misconfiguration</li>
                            <li> 6.  Sensitive Data Exposure</li>
                            <li> 7.  Insufficient Attack Protection (IAP)</li>
                            <li> 8.  Cross-site Request Forgery (CSRF)</li>
                            <li> 9.  Using components with known vulnerabilities</li>
                            <li> 10. Under protected API</li>


                
            </div>
            

                
            </div>
            <div class="row text-center">
       
        </div>
    </section>
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="text-center"> <span class="copyright">Copyright &copy; Web Systems and Technologies 2017</span> </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>
    <div class="container">

  <!-- Trigger the modal with a button -->
</div>
</body>

</html>